* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: 0;
    font-family: 'Kumbh Sans', sans-serif;
}

html{
    font-size: 14px;
}

body {
    width: 100vw;
    height: 100vh;
    font-size: 0.88rem;
    background: var(--color-background);
    user-select: none;
    overflow-x: hidden;
}

/* Navbar, CSS */


.navbar {
    background: transparent;
    border-bottom: 2px solid rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(100px);
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    position: sticky;
    top: 0;
    z-index: 999;
}

.navbar__container {
    display: flex;
    align-items: center;
    height: 80px;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 50px;
}

#navbar__logo {
    margin: 0 auto;
    background-color: #ff8177;
    color: #fe5448;
    background-image: linear-gradient(to top, #ff0844 0%, #ffb119 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    font-size: 2rem;
}

/* Main, CSS */


.main {
    margin: 30px;
    display: flex;
    flex-direction: column;
}

.main h1 {
    font-size: 2.5rem;
}

.causes {
    width: 50%;
    margin: 30px 0;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .2);
    backdrop-filter: blur(100px);
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    border-radius: 10px;
    padding: 30px 40px;
    display: flex;
    flex-direction: column;
    color: black;
}

.cause-choice-container {
    display: flex;
}

.causes-column {
    display: flex;
    flex-direction: column;
    margin: 10px;
}

.virtual-nonvirtual {
    width: 50%;
    margin: 30px 0;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .2);
    backdrop-filter: blur(100px);
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    border-radius: 10px;
    padding: 30px 40px;
    display: flex;
    flex-direction: column;
    color: black;
}

.virtual-nonvirtual-choice-container {
    display: flex;
    flex-direction: column;
    margin: 10px 0;
}

.skills {
    width: 95%;
    margin: 30px 0;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .2);
    backdrop-filter: blur(100px);
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    border-radius: 10px;
    padding: 30px 40px;
    display: flex;
    flex-direction: column;
    color: black; 
}

.skills-choice-container {
    display: flex;
    flex-direction: column;
}

.skills .skill-column {
    display: flex;
    flex-direction: column;
}

.skill-column-column {
    display: grid;
}

#submitFilters{
    cursor: pointer;
    margin-left: 30px;
    margin-bottom: 10px;
    font-size: 2rem;
}
