* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: 0;
    appearance: none;
    text-decoration: none;
    list-style: none;
    font-family: 'Kumbh Sans', sans-serif;
}

html{
    font-size: 14px;
}

body {
    width: 100vw;
    height: 100vh;
    font-size: 0.88rem;
    background: var(--color-background);
    user-select: none;
    overflow-x: hidden;
}

/* Navbar, CSS */


.navbar {
    background: transparent;
    border-bottom: 2px solid rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(100px);
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    position: sticky;
    top: 0;
    z-index: 999;
}

.navbar__container {
    display: flex;
    align-items: center;
    height: 80px;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 50px;
}

#navbar__logo {
    margin: 0 auto;
    background-color: #ff8177;
    color: #fe5448;
    background-image: linear-gradient(to top, #ff0844 0%, #ffb119 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    font-size: 2rem;
}

/* ROOT VARIABLES */


:root {
    --color-primary: #df5b49;
    --color-danger: #ff7782;
    --color-success: #41f1b6;
    --color-warning: #ffbb55;
    --color-white: #fff;
    --color-info-dark: #7d8da1;
    --color-info-light: #dce1eb;
    --color-dark: #363949;
    --color-light: rgba(132, 139, 200, 0.18);
    --color-primary-variant: #6fc4fd;
    --color-dark-variant: #677483;
    --color-background: #f6f6f9;

    --card-border-radius: 2rem;
    --border-radius-1: 0.4rem;
    --border-radius-2: 0.8rem;
    --border-radius-3: 1.2rem;

    --card-padding: 1.8rem;
    --padding-1: 1.2rem;

    --box-shadow: 0 2rem 3rem var(--color-light);
}

/* Main, CSS */


a {
    color: var(--color-dark);
}

h1 {
    font-weight: 700;
    font-size: 1.8rem;
}

h2 {
    font-size: 1.4rem;
}

h3 {
    font-size: 0.87rem;
}

h4 {
    font-size: 0.8rem;
}

h5 {
    font-size: 0.77rem;
}

small {
    font-size: 0.75rem;
}

.text-muted {
    color: var(--color-info-dark);
}

p {
    color: var(--color-dark-variant);
}

b {
    color: var(--color-dark);
}

.primary {
    color: var(--color-primary);
}
.danger {
    color: var(--color-danger);
}
.success {
    color: var(--color-success);
}
.warning {
    color: var(--color-warning);
}

.container {
    display: grid;
    width: 96%;
    margin: 0 auto;
    gap: 1.8rem;
    grid-template-columns: 16.5rem auto 23rem;
}

aside {
    height: 100vh;
    margin: 10px;
}

aside h2 {
    background-color: #ff8177;
    margin: 10px auto;
    color: #fe5448;
    background-image: linear-gradient(to top, #ff0844 0%, #ffb119 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    font-size: 1.2rem;
}

aside .top {
    background: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 1.4rem;
}

aside .close {
    display: none;
}

aside .sidebar {
    background: white;
    display: flex;
    flex-direction: column;
    height: 86vh;
    position: relative;
    top: 3rem;
    border-radius: 8px;
}

aside h3 {
    font-weight: 500;
}

aside .sidebar a {
    display: flex;
    color: var(--color-info-dark);
    margin-left: 2rem;
    gap: 1rem;
    align-items: center;
    height: 3.7rem;
    transition: all 0.3s ease;
}

aside .sidebar a ion-icon {
    font-size: 1.6rem;
    transition: all 0.3s ease;
}

aside .sidebar a:last-child {
    position: absolute;
    bottom: 2rem;
    width: 100%;
}

aside .sidebar a.active {
    background: var(--color-light);
    color: var(--color-primary);
    margin-left: 0;
}

aside .sidebar a.active:before {
    content: '';
    width: 6px;
    height: 100%;
    background: var(--color-primary);
}

aside .sidebar a.active span {
    color: var(--color-primary);
    margin-left: calc(1rem - 3px);
}

aside .sidebar a:hover {
    color: var(--color-primary);
}

aside .sidebar a:hover ion-icon {
    margin-left: 1rem;
}

main h1 {
    margin-top: 50px;
    margin-left: 25px;
    margin-bottom: 50px;
}

main h2 {
    margin-bottom: 10px;
}

main a {
    text-decoration: underline;
    transition: all 0.3 ease;
}

main a:hover {
    color: var(--color-dark-variant)
}

.leaderboard-container {
    width: 95%;
    margin: 1rem auto;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .2);
    backdrop-filter: blur(100px);
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    border-radius: 10px;
    color: black;
    padding: 20px;
}

.daily-shop {
    width: 95%;
    margin: 1rem auto;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .2);
    backdrop-filter: blur(100px);
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    border-radius: 10px;
    color: black;
    margin-top: 50px;
    padding: 20px;
}

.daily-shop-header h1 {
    margin-left: 25px;
    margin-top: 25px;
    margin-bottom: 0;
}

.daily-shop-header p {
    margin-left: 25px;
    margin-bottom: 25px;
}

.store-items {
    margin-left: 25px;
    justify-content: center;
    display: flex;
    width: 100%;
    align-items: center;
}

.item {
    margin-right: 30px;
    text-align: center;
    padding: 10px;
    border: 2px solid rgba(255, 255, 255, .2);
    backdrop-filter: blur(100px);
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    border-radius: 10px;
    transition: all 0.3s ease;
}

.item:hover {
    transform: scale(1.05);
    transition: 0.2s ease-in;
    cursor: pointer;
    content: '';
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    transition: all 0.35s;
}


#uncommon {
    background-image: linear-gradient(to right, #50c878, #38a17b);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}

#epic {
    background-image: linear-gradient(to right, #8a4fff, #bd6eff);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}

#legendary {
    background-image: linear-gradient(to right, #7f5900, #cc8f00);;
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}